<div class="footer-basic" style="height:300px;">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center" style="padding-right:50px;">
                    <h4 style="padding-bottom:10px;">Contact Us</h4>
                    <div class="contact-item">
                        <p>Phone: 1-540-772-6888</p>
                        <p>4353 Starkey Rd Roanoke, VA 24018</p>
                        <p>Email: benguisushi@cox.net</p>
                    </div>
                </div>
                
                <div class="col-md-4">            
                    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/Ben-Gui-Sushi-157797304282452/"><i class="icon ion-social-facebook"></i></a></div>
                        <ul class="list-inline" style="padding-bottom:15px;">
                            <li class="list-inline-item"><a href=#top>Home</a></li>
                            <li class="list-inline-item"><a href=#theMenu>Menu</a></li>
                            <li class="list-inline-item"><a href=#about>About</a></li>
                            
                            
                        </ul>
                    <p id="scrolltotop"><a href="#top">Back To Top</a></p>
                </div><!--end col-->
                
               <div class="col-md-4 text-center" style="padding-left:50px;">
                   <h4 style="padding-bottom:10px;">Opening Hours</h4>
                   <div class="contact-item">
                       <p>Monday: Closed</p>
                       <p>Tue-Sat: 11:30AM to 2:30PM - 5:00PM to 10:00PM</p>
                       <p>Sunday: 4:30PM to 9:30PM</p>
                   </div>
                </div>
            </div><!--end row-->
        </div><!--end container-->
    
    </footer>
</div>