{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sushi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="bengui sushi restaurant Roanoke, VA voted best sushi">
    <link rel="canonical" href="https://benguisushi.com/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playball' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" media="screen" type="text/css">
    <link rel="stylesheet" href="{% static 'dist/sweetalert.css' %}" media="screen" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.css">
    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" type="text/css">
    
    <link rel="icon" href="{% static 'favicon-1.ico' %}" type="image/x-icon">
    <script src="https://use.fontawesome.com/c7295ae472.js"></script>
    <style>
        #map {
            height: 100%;
            margin-top: -90px;
        }
    </style>
</head>

<body>
    <!-- ============ Navbar Section  ================= -->
                {% include "nav.html" %}
    <!-- ============ End Navbar Section  ============= -->

    
    <div id="top" class="starter_container bg">
        <div class="follow_container">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="top-title">Ben Gui Sushi</h2>
                <h2 class="white second-title">"Best sushi in Roanoke, Hands Down"</h2>
                
<!-- messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- end messages -->
                <hr>
                    <a class="btn btn-custom btn-lg" id="newsbutton" role="button">Signup For Our Newsletter</a>
            </div>
        </div>
    </div>
    <!-- ============ About Us ============= -->
    <section id="story" class="description_content">
        <div id="about" class="text-content container">
            <div class="col-sm-6">
                <h1 id="myh0">About us</h1>
                <div class="fa fa-cutlery fa-2x"></div>
                <p class="desc-text">We're Proud To Say, <em>Voted Best Sushi In Roanoke The Last 9 Years</em> By Roanoker Magazine. We're A Relaxed Japanese Restaurant Offering 5-Course Sushi &amp; Sake Tasting Menus, Plus à La Carte Ordering. Founded In 2007, We&#39;ve Been Doing Things Right Ever Since.<i class="icon ion-trophy" id="trophy"></i></p>
                <p class="desc-text"><section id="location">Located at 4357 Starkey Rd, Roanoke, Va 24018</section></p>
            <p class="desc-text"><i class="fa fa-phone-square" id="phone-glyph" aria-hidden="true"></i><b id="number">Call Us (540) 772-6888</b></p>
            </div>
            <div class="col-sm-6">
                <div class="img-section">
                    <img src="{% static 'img/sushifb10.jpeg' %}" width="250" height="220">
                    <img src="{% static 'img/sushifb2.jpeg' %}" width="250" height="220">
                    <div class="img-section-space"></div>
                    <img src="{% static 'img/sushifb1.jpeg' %}" width="250" height="220">
                    <img src="{% static 'img/sushi1.jpg' %}" width="250" height="220">
                </div>
            </div>
        </div>
    </section>
    <!-- ============ end About Us ============= -->
    <hr class="featurette-divider">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.youtube.com/embed/rC41Sngt4wU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center text-lead" id="myh1">Meet Our Chef</h1>
                    <div id="glyph" class="fa fa-cutlery fa-2x"></div>
                    <p class="desc-text"><em>Ben Gui Chen</em> Has Been Making Sushi In The Roanoke Valley For The Last 10 years. Ben Creates
                        <mark>Unique Sushi Items With Quality Fish And Influences From Around The World</mark>. Ben Believes The Best Meal He Can Create Is One He Creates Personally! Please Join Us For <em>5 Courses Of Sushi Items</em> And Optional Saki For Every Course. We Also Server <em>Gluten Free</em> Options!<i class="icon-thumbs-up-alt"></i></p>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="section" id="menu">
        <div class="container" id="menu-container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-center text-lead" id="myh12">Why Sushi?</h1>
                    <div id="glyph2" class="fa fa-cutlery fa-2x"></div>
                    <p class="desc-text">Sushi Not Only Tastes Great, It's Great For You! Sushi Is Full Of <em>Nutrients</em>, Including
                        <mark>Vitamins And Minerals</mark> Such As <em>Iodine</em> Not To Mention Protein. It's Rich In <em>Omega-3 Fatty Acids</em> Which Have Many Amazing Health Benefits. Even The Condiments Are Good For You. Soy Sauce Aids In <em>Digestion</em> And Kills Infection Causing Colon Bacillus. <em>Ginger</em> <em>Has A Myriad Of Health Promoting Assets.</em><i class="icon-heart-empty"></i></p>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.youtube.com/embed/N8-1VhHZXPE" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Restaurant Menu Section -->
<div id="restaurant-menu">
    <div class="section-title text-center center">
        <div class="overlay">
            <h1 id="theMenu">Menu</h1>
            <hr>
            <p><h3>5 Courses Of Sushi Items And Optional Saki</h3></p>
        </div>
    </div>
    
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Soups & Salads</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Miso Soup </div>
            <div class="menu-item-price"> $1.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> House Salad </div>
            <div class="menu-item-price"> $1.50 </div>
            <div class="menu-item-description">-Ginger Dressing. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Spicy Tuna & Seaweed </div>
            <div class="menu-item-price"> $8.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Kanikama & Seaweed </div>
            <div class="menu-item-price"> $7.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spicy Fresh Crab & Seaweed </div>
            <div class="menu-item-price"> $9.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Salmon Skin & Seaweed Salad </div>
            <div class="menu-item-price"> $8.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Futo Salad - Lettuce, crab, seaweed,cucumber, masago. </div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description">-Lettuce, crab, seaweed, cucumber, masago, vinegar dressing. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> House Soup - Pork Dumpling Soup </div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Seaweed Salad </div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Avocado Salad </div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
        
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">COMBOS</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Sushi Assortment </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description"> -6pcs chef choice assorted fresh sushi and 6pcs tuna roll. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sushi Deluxe </div>
            <div class="menu-item-price"> $19.50 </div>
            <div class="menu-item-description"> -8pcs chef choice assorted fresh sushi and 8pcs California Roll. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sashimi Assortment </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description"> -12pcs chef choice assorted fresh fish. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sashimi Deluxe </div>
            <div class="menu-item-price"> $22.50 </div>
            <div class="menu-item-description"> -18pcs chef choice assorted fresh fish. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Chirashi Sushi </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description"> -chef choice assorted fresh sliced fish and vegetables on sushi rice. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Super Chirashi </div>
            <div class="menu-item-price"> $23.50 </div>
            <div class="menu-item-description"> -eel, salmon roe on sushi rice with chef choice sashimi on the side. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Roll Combo </div>
            <div class="menu-item-price"> $16.00 </div>
            <div class="menu-item-description"> -8pcs Spicy Tuna roll, 8pcs California roll and 6pcs White Tuna roll. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Roll Combo #2 </div>
            <div class="menu-item-price"> $14.50 </div>
            <div class="menu-item-description">-8pcs California roll, 5pcs Shrimp tempura roll and 6pcs Avocado roll. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sushi Sashimi Dinner </div>
            <div class="menu-item-price"> $27.50 </div>
            <div class="menu-item-description"> -14pcs fresh fish, 4pcs fresh sushi, 8pcs Spicy Tuna or Eel roll. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> THE PLATE (For 2) </div>
            <div class="menu-item-price"> $39.50 </div>
            <div class="menu-item-description"> -8pcs California roll, 8 pcs My Best Friend roll, 6pcs Tuna roll and 8pcs chef. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> THE BOAT (For 2) </div>
            <div class="menu-item-price"> $52.50 </div>
            <div class="menu-item-description">-Chef choice 10pcs fresh sushi, 18pcs sashimi, 8pcs of each: California and Spicy Tuna roll. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Sushi/Sashimi</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> MAGURO </div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> - Bluefin Tuna. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sake </div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -Salmon a sweet and succulent fish.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Hamachi </div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Yellow tail Tuna. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Albacore</div>
            <div class="menu-item-price"> $5.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tai</div>
            <div class="menu-item-price"> $4.00 </div>
            <div class="menu-item-description"> -Snapper. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Ika</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Squid. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Amaebi</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Sweet Shrimp. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Saba</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Mackerel. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tako</div>
            <div class="menu-item-price"> $5.00 </div>
            <div class="menu-item-description"> -Octopus. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Hokkigai</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Red Clam. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Ebi</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Hokkigai. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Kanikama</div>
            <div class="menu-item-price"> $4.00 </div>
            <div class="menu-item-description"> -Crab Stick.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Unagi</div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -Eel. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Masago</div>
            <div class="menu-item-price"> $5.00 </div>
            <div class="menu-item-description"> -Smelt Roe. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Wasabi Tobiko</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description">-Wasabi Flavored Fish Roe. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Caviar</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Black Tobiko. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Ikura</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Salmon Egg. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Uni</div>
            <div class="menu-item-price"> $Market Price </div>
            <div class="menu-item-description"> -Sea Urchin. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Appetizers</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Tako Su </div>
            <div class="menu-item-price"> $7.50 </div>
            <div class="menu-item-description">-Octopus and cucumber in vinegar sauce. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Kanikama Su </div>
            <div class="menu-item-price"> $6.00</div>
            <div class="menu-item-description"> -crab and cucumber in vinegar sauce. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Ben's Sake Su </div>
            <div class="menu-item-price"> $9.50 </div>
            <div class="menu-item-description"> -Fresh salmon, avocado and cucumber in vinegar sauce. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sunomono </div>
            <div class="menu-item-price"> $7.50</div>
            <div class="menu-item-description"> -Assorted fish and cucumber in vinegar sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Edamamae </div>
            <div class="menu-item-price"> $4.50</div>
            <div class="menu-item-description"> -Soy beans pods steamed and lightly salted. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shumai </div>
            <div class="menu-item-price"> $4.50</div>
            <div class="menu-item-description"> -Steamed shrimp dumplings. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Wasabi Shumai </div>
            <div class="menu-item-price"> $6.50</div>
            <div class="menu-item-description">-Pork dumplings steamed and coated in wasabi. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Baby Octopus </div>
            <div class="menu-item-price"> $6.50</div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Gyoza </div>
            <div class="menu-item-price"> $5.50</div>
            <div class="menu-item-description"> -Fried pork dumplings. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Agedashi Tofu </div>
            <div class="menu-item-price"> $5.00</div>
            <div class="menu-item-description">-Fried tofu with tempura sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sea Naruto </div>
            <div class="menu-item-price"> $8.50</div>
            <div class="menu-item-description"> -Salmon, crab, avocado, fish roe and cucumbe. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Snapper Bite </div>
            <div class="menu-item-price"> $10.50</div>
            <div class="menu-item-description"> -Snapper, avocado, cucumber in a slightly spicy garlic-ginger sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> White Tuna Tataki </div>
            <div class="menu-item-price"> $9.50</div>
            <div class="menu-item-description"> -White tuna, avocado, and cucumber in tataki sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tuna Carpaccio </div>
            <div class="menu-item-price"> $9.50</div>
            <div class="menu-item-description"> -Sliced tuna with avocado and special sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spicy Tuna Tar-Tar </div>
            <div class="menu-item-price"> $9.50</div>
            <div class="menu-item-description">-No description.  </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tempura Appetizer </div>
            <div class="menu-item-price"> $8.50</div>
            <div class="menu-item-description">-No description. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->        
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">ROLLS</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Veggie Roll </div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> - avocado and cucumber (8pcs). </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Kappa Roll </div>
            <div class="menu-item-price"> $3.75 </div>
            <div class="menu-item-description"> -Cucumber (6pcs).</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Avocado Roll </div>
            <div class="menu-item-price"> $3.75 </div>
            <div class="menu-item-description"> --No description (6pcs). </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> California Roll</div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -crab, cucumber, avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Unagi Roll</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Eel and Avocado (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp Tempura Roll</div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -Shrimp and cucumber (5pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> New Yorker Roll</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Salmon Skin and scallion (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spider Roll</div>
            <div class="menu-item-price"> $8.50 </div>
            <div class="menu-item-description"> -Soft Shell Crab (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tekka Roll</div>
            <div class="menu-item-price"> $5.25 </div>
            <div class="menu-item-description"> -Tuna (6pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sake Roll</div>
            <div class="menu-item-price"> $5.25 </div>
            <div class="menu-item-description"> -Salmon Roll (6pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Negihama Roll</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Hamachi and scallion (6pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> White Tuna Roll</div>
            <div class="menu-item-price"> $5.25 </div>
            <div class="menu-item-description"> -White Tuna and scallion (6pcs).</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spicy Tuna Roll</div>
            <div class="menu-item-price"> $7.00 </div>
            <div class="menu-item-description"> --No description (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Alaska Roll</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Salmon, avocado and cucumber (8pcs).</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Philadelphia Roll</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description">-Salmon, avocado and cream cheese (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Boston Roll</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -White Tuna, avocado and cucumber (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Dynamite </div>
            <div class="menu-item-price"> $8.50 </div>
            <div class="menu-item-description"> -Spicy mixed fish and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Rainbow Roll</div>
            <div class="menu-item-price"> $12.00 </div>
            <div class="menu-item-description"> -California roll topped with 5pcs of fish (8pcs). </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">"TRUST ME" ROLLS</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Roanoke Roll </div>
            <div class="menu-item-price"> $10.50 </div>
            <div class="menu-item-description"> -Eel and cucumber topped with avocado and masago (8pcs). </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> VT Special Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Avacado and cucumber roll topped with Salmon and Tuna (8pcs).</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Red Dragon Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Shrimp Tempura Roll topped with eel, avocado and masago (8pcs).</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Penny's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Salmon and avocado roll topped with salmon, avocado and caviar (8pcs).</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Karen's Favorite Roll </div>
            <div class="menu-item-price"> $14.50 </div>
            <div class="menu-item-description"> -Soft Shell Crab roll topped with eel, avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sex on the Beach Roll </div>
            <div class="menu-item-price"> $12.50 </div>
            <div class="menu-item-description"> -Soft Shell Crab roll topped with avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Volcano Roll </div>
            <div class="menu-item-price"> $9.00 </div>
            <div class="menu-item-description"> -Crab, tuna, cucumber, scallion, cream cheese and masago roll. Deep fried (5pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> iCrunchy </div>
            <div class="menu-item-price"> $10.00 </div>
            <div class="menu-item-description">-Spicy Tuna, cucumber, scallion, cream cheese roll. Deep fried and topped with shrimp tempura (5pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Crazy Cowboy Roll </div>
            <div class="menu-item-price"> $12.50 </div>
            <div class="menu-item-description"> -Spicy Tuna roll topped with avocado and wasabi tobiko (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Hokie Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Spicy tuna roll topped with white tuna, salmon and wasabi tobiko (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Marshall's Favorite Roll </div>
            <div class="menu-item-price"> $14.00 </div>
            <div class="menu-item-description">-Salmon, cucumber and cream cheese roll topped with eel, avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tender Roll </div>
            <div class="menu-item-price"> $13.00 </div>
            <div class="menu-item-description">-Tempura fish and avocado roll topped with spicy tuna (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> 69er Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-Shrimp tempura roll topped with assorted fish, avocado, masago and spicy (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> My Best Friend Roll </div>
            <div class="menu-item-price"> $11.00 </div>
            <div class="menu-item-description">-Shrimp Tempura roll topped with spicy tuna (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Nama Mama Roll </div>
            <div class="menu-item-price"> $14.50 </div>
            <div class="menu-item-description">-Tuna and avocado roll topped with eel, masago and spicy (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Don's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-Soft shell crab roll topped with spicy tuna (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Kim's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-White Tuna and avocado roll topped with white tuna, avocado, caviar and spicy (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Robert's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-Eel, cucumber and cream cheese roll topped with spicy tuna (8pcs). </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->        
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">TERIYAKI</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken </div>
            <div class="menu-item-price"> $13.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Beef </div>
            <div class="menu-item-price"> $18.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Salmon </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Shrimp </div>
            <div class="menu-item-price"> $7.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp & Chicken </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp & Beef </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp & Salmon </div>
            <div class="menu-item-price"> $18.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Chicken & Beef </div>
            <div class="menu-item-price"> $16.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>            
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
        
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">BENTO BOXES</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Bento Box A </div>
            <div class="menu-item-price"> $17.50 </div>
            <div class="menu-item-description">-Teriyaki chicken, tempura, rice and 8pcs California roll </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Bento Box B </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-Teriyaki beef, tempura, rice and 8pcs California roll </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Bento Box C </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-Teriyaki Salmon, tempura, rice and 8pcs Spicy Tuna roll </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Bento Box D </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-Tempura, 4pcs of sushi, rice and 8pcs Spicy Tuna roll  </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name">Bento Box S </div>
            <div class="menu-item-price"> $22.50 </div>
            <div class="menu-item-description">-4pcs of sushi and sashimi, tempura, rice and your choice of teriyaki chicken, beef or salmon</div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">UDON, SOBA & RICE</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Nebeyaki Udon </div>
            <div class="menu-item-price"> $12.50 </div>
            <div class="menu-item-description">-Rice noodle soup with shrimp tempura </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Yaki Soba </div>
            <div class="menu-item-price"> $11.50 </div>
            <div class="menu-item-description">-Pan fried noodles with shrimp, chicken, beef and vegetables </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Fried Rice </div>
            <div class="menu-item-price"> $11.50 </div>
            <div class="menu-item-description">-Rice with shrimp, chicken, beef and vegetable</div>
          </div>            
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
        
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">TEMPURA</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken </div>
            <div class="menu-item-price"> $14.00 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Shrimp </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Combination </div>
            <div class="menu-item-price"> $17.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sashimi Deluxe</div>
            <div class="menu-item-price"> $22.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
    </div><!--end row-->
        
        
  </div><!--end container-->        
</div><!--end parent div-->


    <!-- end estaurant Menu Section -->
    
    <div class="container-fluid">        
        <div class="row" id="below_map_row">
        <div class="col-md-7">
             <!--combine this into p below, try float:left -->
            <!--<div id="email_icon"><i class="icon ion-email"></i></div>-->
            <p id="newsletter_signup"><i id="email_icon" class="icon ion-email"></i>Signup For Our Newsletter</p>
        </div>
        <div class="col-md-5 form-group-lg">
            <form action="{% url 'customer:send_email' %}" method="POST" id="email_form">
                {% csrf_token %}
            <div class="input-group input-group-lg">
                <input type="email" class="form-control" name="email" id="email_text" placeholder="Email Address. . ." />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Subscribe!</button>
                </span>
            </div>
          </form>
        </div>
    </div><!--end row-->    
    

        
        <div class="row" id="above_map_row">
            <div class="col-sm-6">
                <p>Visit Us. . .</p>
                <p style="color:white;">4357 Starkey Rd Roanoke, VA 24018</p>
            </div>
            <div class="col-sm-6">
                <p>Call Us. . .</p>
                <p style="color:white;">1-540-772-6888</p>
            </div>
        </div><!--end row-->

    </div><!--end container-->
        
        
        
        
    <div class="embed-responsive embed-responsive-16by9">
        <div id="map" class="embed-responsive-item"></div>
    </div>
    
    <!-- ============ Footer Section  ================= -->
            {% include "footer.html" %}
    <!-- ============ End Footer Section  ============= -->
    
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 37.228494
                    , lng: -79.982947
                }
                , zoom: 18
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8rHmxZETt_Z5y2p5DK3djT6vEx9MIbAE&callback=initMap"></script>    
    <script type="text/javascript" src="{% static 'js/site.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/email.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>            
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>
</body>

</html>