<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
    <div class="section-title text-center center">
        <div class="overlay">
            <h1 id="theMenu">Menu</h1>
            <hr>
            <p><h3>5 Courses Of Sushi Items And Optional Saki</h3></p>
        </div>
    </div>
    
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Soups &amp; Salads</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Miso Soup </div>
            <div class="menu-item-price"> $1.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> House Salad </div>
            <div class="menu-item-price"> $1.50 </div>
            <div class="menu-item-description">-Ginger Dressing. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Spicy Tuna &amp; Seaweed </div>
            <div class="menu-item-price"> $8.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Kanikama &amp; Seaweed </div>
            <div class="menu-item-price"> $7.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spicy Fresh Crab &amp; Seaweed </div>
            <div class="menu-item-price"> $9.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Salmon Skin &amp; Seaweed Salad </div>
            <div class="menu-item-price"> $8.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Futo Salad - Lettuce, crab, seaweed,cucumber, masago. </div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description">-Lettuce, crab, seaweed, cucumber, masago, vinegar dressing. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> House Soup - Pork Dumpling Soup </div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Seaweed Salad </div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Avocado Salad </div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
        
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">COMBOS</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Sushi Assortment </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description"> -6pcs chef choice assorted fresh sushi and 6pcs tuna roll. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sushi Deluxe </div>
            <div class="menu-item-price"> $19.50 </div>
            <div class="menu-item-description"> -8pcs chef choice assorted fresh sushi and 8pcs California Roll. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sashimi Assortment </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description"> -12pcs chef choice assorted fresh fish. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sashimi Deluxe </div>
            <div class="menu-item-price"> $22.50 </div>
            <div class="menu-item-description"> -18pcs chef choice assorted fresh fish. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Chirashi Sushi </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description"> -chef choice assorted fresh sliced fish and vegetables on sushi rice. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Super Chirashi </div>
            <div class="menu-item-price"> $23.50 </div>
            <div class="menu-item-description"> -eel, salmon roe on sushi rice with chef choice sashimi on the side. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Roll Combo </div>
            <div class="menu-item-price"> $16.00 </div>
            <div class="menu-item-description"> -8pcs Spicy Tuna roll, 8pcs California roll and 6pcs White Tuna roll. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Roll Combo #2 </div>
            <div class="menu-item-price"> $14.50 </div>
            <div class="menu-item-description">-8pcs California roll, 5pcs Shrimp tempura roll and 6pcs Avocado roll. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sushi Sashimi Dinner </div>
            <div class="menu-item-price"> $27.50 </div>
            <div class="menu-item-description"> -14pcs fresh fish, 4pcs fresh sushi, 8pcs Spicy Tuna or Eel roll. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> THE PLATE (For 2) </div>
            <div class="menu-item-price"> $39.50 </div>
            <div class="menu-item-description"> -8pcs California roll, 8 pcs My Best Friend roll, 6pcs Tuna roll and 8pcs chef. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> THE BOAT (For 2) </div>
            <div class="menu-item-price"> $52.50 </div>
            <div class="menu-item-description">-Chef choice 10pcs fresh sushi, 18pcs sashimi, 8pcs of each: California and Spicy Tuna roll. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Sushi/Sashimi</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> MAGURO </div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> - Bluefin Tuna. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sake </div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -Salmon a sweet and succulent fish.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Hamachi </div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Yellow tail Tuna. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Albacore</div>
            <div class="menu-item-price"> $5.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tai</div>
            <div class="menu-item-price"> $4.00 </div>
            <div class="menu-item-description"> -Snapper. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Ika</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Squid. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Amaebi</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Sweet Shrimp. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Saba</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Mackerel. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tako</div>
            <div class="menu-item-price"> $5.00 </div>
            <div class="menu-item-description"> -Octopus. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Hokkigai</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Red Clam. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Ebi</div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> -Hokkigai. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Kanikama</div>
            <div class="menu-item-price"> $4.00 </div>
            <div class="menu-item-description"> -Crab Stick.</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Unagi</div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -Eel. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Masago</div>
            <div class="menu-item-price"> $5.00 </div>
            <div class="menu-item-description"> -Smelt Roe. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Wasabi Tobiko</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description">-Wasabi Flavored Fish Roe. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Caviar</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Black Tobiko. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Ikura</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Salmon Egg. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Uni</div>
            <div class="menu-item-price"> $Market Price </div>
            <div class="menu-item-description"> -Sea Urchin. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Appetizers</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Tako Su </div>
            <div class="menu-item-price"> $7.50 </div>
            <div class="menu-item-description">-Octopus and cucumber in vinegar sauce. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Kanikama Su </div>
            <div class="menu-item-price"> $6.00</div>
            <div class="menu-item-description"> -crab and cucumber in vinegar sauce. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Ben's Sake Su </div>
            <div class="menu-item-price"> $9.50 </div>
            <div class="menu-item-description"> -Fresh salmon, avocado and cucumber in vinegar sauce. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sunomono </div>
            <div class="menu-item-price"> $7.50</div>
            <div class="menu-item-description"> -Assorted fish and cucumber in vinegar sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Edamamae </div>
            <div class="menu-item-price"> $4.50</div>
            <div class="menu-item-description"> -Soy beans pods steamed and lightly salted. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shumai </div>
            <div class="menu-item-price"> $4.50</div>
            <div class="menu-item-description"> -Steamed shrimp dumplings. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Wasabi Shumai </div>
            <div class="menu-item-price"> $6.50</div>
            <div class="menu-item-description">-Pork dumplings steamed and coated in wasabi. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Baby Octopus </div>
            <div class="menu-item-price"> $6.50</div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Gyoza </div>
            <div class="menu-item-price"> $5.50</div>
            <div class="menu-item-description"> -Fried pork dumplings. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Agedashi Tofu </div>
            <div class="menu-item-price"> $5.00</div>
            <div class="menu-item-description">-Fried tofu with tempura sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sea Naruto </div>
            <div class="menu-item-price"> $8.50</div>
            <div class="menu-item-description"> -Salmon, crab, avocado, fish roe and cucumbe. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Snapper Bite </div>
            <div class="menu-item-price"> $10.50</div>
            <div class="menu-item-description"> -Snapper, avocado, cucumber in a slightly spicy garlic-ginger sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> White Tuna Tataki </div>
            <div class="menu-item-price"> $9.50</div>
            <div class="menu-item-description"> -White tuna, avocado, and cucumber in tataki sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tuna Carpaccio </div>
            <div class="menu-item-price"> $9.50</div>
            <div class="menu-item-description"> -Sliced tuna with avocado and special sauce. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spicy Tuna Tar-Tar </div>
            <div class="menu-item-price"> $9.50</div>
            <div class="menu-item-description">-No description.  </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tempura Appetizer </div>
            <div class="menu-item-price"> $8.50</div>
            <div class="menu-item-description">-No description. </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->        
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">ROLLS</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Veggie Roll </div>
            <div class="menu-item-price"> $4.50 </div>
            <div class="menu-item-description"> - avocado and cucumber (8pcs). </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Kappa Roll </div>
            <div class="menu-item-price"> $3.75 </div>
            <div class="menu-item-description"> -Cucumber (6pcs).</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Avocado Roll </div>
            <div class="menu-item-price"> $3.75 </div>
            <div class="menu-item-description"> --No description (6pcs). </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> California Roll</div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -crab, cucumber, avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Unagi Roll</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Eel and Avocado (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp Tempura Roll</div>
            <div class="menu-item-price"> $5.50 </div>
            <div class="menu-item-description"> -Shrimp and cucumber (5pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> New Yorker Roll</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Salmon Skin and scallion (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spider Roll</div>
            <div class="menu-item-price"> $8.50 </div>
            <div class="menu-item-description"> -Soft Shell Crab (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tekka Roll</div>
            <div class="menu-item-price"> $5.25 </div>
            <div class="menu-item-description"> -Tuna (6pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sake Roll</div>
            <div class="menu-item-price"> $5.25 </div>
            <div class="menu-item-description"> -Salmon Roll (6pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Negihama Roll</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description"> -Hamachi and scallion (6pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> White Tuna Roll</div>
            <div class="menu-item-price"> $5.25 </div>
            <div class="menu-item-description"> -White Tuna and scallion (6pcs).</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Spicy Tuna Roll</div>
            <div class="menu-item-price"> $7.00 </div>
            <div class="menu-item-description"> --No description (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Alaska Roll</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -Salmon, avocado and cucumber (8pcs).</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Philadelphia Roll</div>
            <div class="menu-item-price"> $6.50 </div>
            <div class="menu-item-description">-Salmon, avocado and cream cheese (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Boston Roll</div>
            <div class="menu-item-price"> $6.00 </div>
            <div class="menu-item-description"> -White Tuna, avocado and cucumber (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Dynamite </div>
            <div class="menu-item-price"> $8.50 </div>
            <div class="menu-item-description"> -Spicy mixed fish and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Rainbow Roll</div>
            <div class="menu-item-price"> $12.00 </div>
            <div class="menu-item-description"> -California roll topped with 5pcs of fish (8pcs). </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">"TRUST ME" ROLLS</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Roanoke Roll </div>
            <div class="menu-item-price"> $10.50 </div>
            <div class="menu-item-description"> -Eel and cucumber topped with avocado and masago (8pcs). </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> VT Special Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Avacado and cucumber roll topped with Salmon and Tuna (8pcs).</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Red Dragon Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Shrimp Tempura Roll topped with eel, avocado and masago (8pcs).</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Penny's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Salmon and avocado roll topped with salmon, avocado and caviar (8pcs).</div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Karen's Favorite Roll </div>
            <div class="menu-item-price"> $14.50 </div>
            <div class="menu-item-description"> -Soft Shell Crab roll topped with eel, avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Sex on the Beach Roll </div>
            <div class="menu-item-price"> $12.50 </div>
            <div class="menu-item-description"> -Soft Shell Crab roll topped with avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Volcano Roll </div>
            <div class="menu-item-price"> $9.00 </div>
            <div class="menu-item-description"> -Crab, tuna, cucumber, scallion, cream cheese and masago roll. Deep fried (5pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> iCrunchy </div>
            <div class="menu-item-price"> $10.00 </div>
            <div class="menu-item-description">-Spicy Tuna, cucumber, scallion, cream cheese roll. Deep fried and topped with shrimp tempura (5pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Crazy Cowboy Roll </div>
            <div class="menu-item-price"> $12.50 </div>
            <div class="menu-item-description"> -Spicy Tuna roll topped with avocado and wasabi tobiko (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Hokie Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description"> -Spicy tuna roll topped with white tuna, salmon and wasabi tobiko (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Marshall's Favorite Roll </div>
            <div class="menu-item-price"> $14.00 </div>
            <div class="menu-item-description">-Salmon, cucumber and cream cheese roll topped with eel, avocado and masago (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Tender Roll </div>
            <div class="menu-item-price"> $13.00 </div>
            <div class="menu-item-description">-Tempura fish and avocado roll topped with spicy tuna (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> 69er Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-Shrimp tempura roll topped with assorted fish, avocado, masago and spicy (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> My Best Friend Roll </div>
            <div class="menu-item-price"> $11.00 </div>
            <div class="menu-item-description">-Shrimp Tempura roll topped with spicy tuna (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Nama Mama Roll </div>
            <div class="menu-item-price"> $14.50 </div>
            <div class="menu-item-description">-Tuna and avocado roll topped with eel, masago and spicy (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Don's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-Soft shell crab roll topped with spicy tuna (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Kim's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-White Tuna and avocado roll topped with white tuna, avocado, caviar and spicy (8pcs). </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Robert's Favorite Roll </div>
            <div class="menu-item-price"> $13.50 </div>
            <div class="menu-item-description">-Eel, cucumber and cream cheese roll topped with spicy tuna (8pcs). </div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->        
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">TERIYAKI</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken </div>
            <div class="menu-item-price"> $13.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Beef </div>
            <div class="menu-item-price"> $18.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Salmon </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Shrimp </div>
            <div class="menu-item-price"> $7.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp &amp; Chicken </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp &amp; Beef </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Shrimp &amp; Salmon </div>
            <div class="menu-item-price"> $18.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name"> Chicken &amp; Beef </div>
            <div class="menu-item-price"> $16.00 </div>
            <div class="menu-item-description">-No description. </div>
          </div>            
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
        
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">BENTO BOXES</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Bento Box A </div>
            <div class="menu-item-price"> $17.50 </div>
            <div class="menu-item-description">-Teriyaki chicken, tempura, rice and 8pcs California roll </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Bento Box B </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-Teriyaki beef, tempura, rice and 8pcs California roll </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Bento Box C </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-Teriyaki Salmon, tempura, rice and 8pcs Spicy Tuna roll </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Bento Box D </div>
            <div class="menu-item-price"> $18.50 </div>
            <div class="menu-item-description">-Tempura, 4pcs of sushi, rice and 8pcs Spicy Tuna roll  </div>
          </div>
            <div class="menu-item">
            <div class="menu-item-name">Bento Box S </div>
            <div class="menu-item-price"> $22.50 </div>
            <div class="menu-item-description">-4pcs of sushi and sashimi, tempura, rice and your choice of teriyaki chicken, beef or salmon</div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
    </div><!--end row-->
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">UDON, SOBA &amp; RICE</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Nebeyaki Udon </div>
            <div class="menu-item-price"> $12.50 </div>
            <div class="menu-item-description">-Rice noodle soup with shrimp tempura </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Yaki Soba </div>
            <div class="menu-item-price"> $11.50 </div>
            <div class="menu-item-description">-Pan fried noodles with shrimp, chicken, beef and vegetables </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Fried Rice </div>
            <div class="menu-item-price"> $11.50 </div>
            <div class="menu-item-description">-Rice with shrimp, chicken, beef and vegetable</div>
          </div>            
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
        
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">TEMPURA</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken </div>
            <div class="menu-item-price"> $14.00 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Shrimp </div>
            <div class="menu-item-price"> $16.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Combination </div>
            <div class="menu-item-price"> $17.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sashimi Deluxe</div>
            <div class="menu-item-price"> $22.50 </div>
            <div class="menu-item-description">-No description.</div>
          </div>
        </div><!--end menu selection-->
      </div><!--end col-xs-12 col-sm-6-->
    </div><!--end row-->
        
        
  </div><!--end container-->        
</div><!--end parent div-->

    <!-- end estaurant Menu Section -->